<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://localhost:5000/certificate-comparison">state Comparison</a><br>
    <a href="http://localhost:5000/district-comparison">only district</a><br>
    <a href="http://localhost:5000/mandal-comparison">only mandal</a><br>
    <a href="http://localhost:5000/certificate-status-comparison">certificate status comparison state level</a><br>
    <a href="http://localhost:5000/admin/pending-applications">certificate status updation</a>
    <a href="http://localhost:5000/staff-workload-comparison">state wise Workload</a>
    <a href="http://localhost:5000/efficiency-comparison">processing time report</a>
</body>
</html>